#------------------------------------------
# 🚀 Kafka брокеры, через запятую
# ❓ Пример: KAFKA_BROKERS="localhost:9092,localhost:9093"
#------------------------------------------
KAFKA_BROKERS="localhost:9092"

#------------------------------------------
# 🌐 Группа потребителей
#------------------------------------------
KAFKA_GROUP_ID="auth-service"

#------------------------------------------
# 🔑 Секретный ключ для кук
#------------------------------------------
COOKIES_SECRET="secret"

#------------------------------------------
# 🌐 Разрешенные источники
#------------------------------------------
ALLOWED_ORIGIN="http://localhost:3000"

#------------------------------------------
# 🌐 Порт, на котором будет запущен сервер
#------------------------------------------
PORT=3001